body{
  font-family: "Georgia";
}
table, th, td {
  border: 1px solid black;
}

h1{
  text-align: center;
}

table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

tbody tr{
  background-color: DarkSeaGreen;
}

.table-header{
  background-color: Bisque;
}
